@charset 'UTF-8';
$su-image-path: "~decanter/core/src/img";
$fa-font-path:  "~@fortawesome/fontawesome-free/webfonts";

@import 'decanter/core/src/scss/decanter.scss';

/* general */

a {
    box-shadow: none;
}
a:hover, a:focus {
    text-decoration: underline;
}



/* masthead */
.su-brand-bar__container {
    padding-top: 4px;
    a {
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
    }
}
.su-lockup__line1.su-handwriting.ad-logo {
    text-transform: none;
}

/* page content styling */

/* banner */
$banner-bg: #51012A;
$banner-max-height: 480px;
.grad-alumni-banner {
    background: $banner-bg; // custom color, no variable
    display: flex;
    justify-content: center;
    max-height: $banner-max-height;
    img {
        max-height: $banner-max-height;
    }

}

.page-container.grad-alumni-day {
    width: 820px;
    max-width: 90%;
    margin-left: auto;
    @include modular-spacing('padding', null 2 null 2);
    margin-right: auto;

}
.grad-alumni-day--intro {
    @include modular-spacing('padding', null null 2 null);

    text-align: center;
}

.event-card--link {
    @include modular-spacing('margin', null null 1 null);
    @include link-icon(caret-right, 10px, right, 0.06em);
}
.event-card--link:last-of-type {
    margin-bottom: 0px;
}


.grad-alumni-day--date {
    font-size: 24px;
    @include modular-spacing('margin', null null 3 null);
}
.event-intro--richtext {
     @include modular-spacing('margin', null null 3 null);
 }

.event-info--wrapper {
    //padding: 27px 45px;
    @include modular-spacing('margin', 7 null 7 null);
}


// top card info
.event-top-card-info {
    text-align: left;
}

// session styles
.event-session--wrapper {
    @include modular-spacing('margin', null null 7 null);

}
$profile-circle-width: 108px;
.circle-image img, img.circle-image {
    border-radius: 50%;
    width: $profile-circle-width;
}
.session {
    margin-bottom: 26px;
    font-weight: bold;
}
.session-description, session-person--text-content {
    @include modular-spacing('margin', 1 null 3 null);
}
.session-person {
    display: flex;
    @include modular-spacing('margin', null null null 3);
    &:last-of-type {
        margin-bottom: 0px; // margin is handled by parent wrapper element
    }
    .person-image {
        width: $profile-circle-width;
        @include modular-spacing('margin', null 1 3 null);
    }
    .person--display-name {
        //text-decoration: underline;
        //color: $su-color-bright-red;
    }
    .session-person--text-content {
        flex: 1;
    }
}

.event-pricing--wrapper {
    @include modular-spacing('padding', 6 null 7 null);

    background: #f4f4f4;
    /* set background to light gray here - secondary fog color*/
}
.event-pricing--inner-wrapper {
    width: 1020px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.price-items--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.event-pricing--wrapper .su-card {
    max-width: 90%;
    width: 493px;
    margin-bottom: 30px;
}
.event-pricing--heading {
    @include modular-spacing('margin', null null 4 null);

}

.product--price {
    @include modular-typography(5);
    letter-spacing: -0.016em;

    @include grid-media-max('sm') {
        font-size: modular-scale(5) * $su-displays-mobile-factor;
    }
    font-size: 40px;
    font-weight: bold;
}

.text-centered {
    text-align: center;
}

.event-video--wrapper {
    padding: 109px 30px 108px;
}
.watch-video-label {
    @include modular-spacing('margin', 0 null null null);
    margin-left: auto;
    margin-right: auto;
}
.video-title-label {
    margin-bottom: 36px;
}


.event-quote--wrapper {
    @include modular-spacing('padding', 2 2 3 2);
    width: 811px;
    margin-left: auto;
    margin-right: auto;
}
.event-quote--text {
    text-transform: none;
}


.su-local-footer  a {
    color: $su-color-bright-red;
    &:focus, &:hover {
        color: $su-color-black;
    }
}