html {
  background-color: #f09f09; }

/* masthead */
.su-lockup__line1.su-handwriting.ad-logo {
  text-transform: none; }

/* page content styling */
.page-container.grad-alumni-day {
  width: 820px;
  max-width: 90%;
  margin-left: auto;
  padding: 100px 30px;
  margin-right: auto; }

.grad-alumni-day--intro {
  padding: 0 0 30px 0;
  text-align: center; }

.grad-alumni-day--date {
  font-size: 24px; }

.event-session--wrapper {
  padding: 27px 45px; }

.session {
  margin-bottom: 26px;
  font-weight: bold; }

.event-pricing--wrapper {
  padding: 90px 0 108px 0;
  background: #f4f4f4;
  /* set background to light gray here - secondary fog color*/ }

.event-pricing--inner-wrapper {
  width: 1020px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.price-items--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.event-pricing--wrapper .su-card {
  max-width: 90%;
  width: 493px;
  margin-bottom: 30px; }

.product--price {
  /*font style 5*/
  font-size: 40px;
  font-weight: bold; }

.text-centered {
  text-align: center; }

.event-video--wrapper {
  padding: 109px 30px 108px; }

.watch-video-label {
  margin-bottom: 18px; }

.video-title-label {
  margin-bottom: 36px; }

.event-quote--wrapper {
  margin-bottom: 45px; }
